<<<<<<< HEAD

main {
  width: 400px;
  margin: 0 auto;
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
}

nav ul li {
  padding: .5rem;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

nav ul a {
  text-decoration: none;
}

nav li.active {
  background-color: lightseagreen;
  color: white;
}

.hidden {
  display: none;
}
=======
body {
  font-family: sans-serif;
}

#counter {
  display: flex;
  width: 100%;
  justify-content: center;
}

#counterDisplay {
  font-size: 4rem;
  text-align: center;
  color: white;
}

#counter  button {
  border: 0;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

#counterAdd {
  background-color: chartreuse;
}

#counterSub {
  background-color:brown;
}
>>>>>>> 61b5bc8 (first commit)
